In [3]:
import sqlite3

### User -> DBMS -> Database

    Connection : DBMS 접속
    Cursor : 작업을 하도록 하는 매개체

[과정]
1. Connetion -> 2. Cursor

In [5]:
con = sqlite3.connect(':memory:')

In [6]:
type(con), dir(con)

(sqlite3.Connection,
 ['DataError',
  'DatabaseError',
  'Error',
  'IntegrityError',
  'InterfaceError',
  'InternalError',
  'NotSupportedError',
  'OperationalError',
  'ProgrammingError',
  'Warning',
  '__call__',
  '__class__',
  '__delattr__',
  '__dir__',
  '__doc__',
  '__enter__',
  '__eq__',
  '__exit__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__gt__',
  '__hash__',
  '__init__',
  '__init_subclass__',
  '__le__',
  '__lt__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__setattr__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'backup',
  'close',
  'commit',
  'create_aggregate',
  'create_collation',
  'create_function',
  'cursor',
  'enable_load_extension',
  'execute',
  'executemany',
  'executescript',
  'in_transaction',
  'interrupt',
  'isolation_level',
  'iterdump',
  'load_extension',
  'rollback',
  'row_factory',
  'set_authorizer',
  'set_progress_handler',
  'set_trace_callback',
  'text_factory',
  'total_changes'])

In [7]:
cur = con.cursor()

In [8]:
type(con), type(cur)

(sqlite3.Connection, sqlite3.Cursor)

In [10]:
type(con.cursor)
# 임시 커서 객체로도 할 수는 있으나 안정성을 위해 객체를 따로 만들어주는 것이 도움됨.

builtin_function_or_method

In [13]:
dir(cur)
# 자주 사용할 명령문.
# 'execute',
# 'executemany',
# 'executescript',
# 'fetchall',
# 'fetchmany',
# 'fetchone',

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [ ]:
# DB 종료를 꼭 해주고, 다시 실행해야 한다. 무결성 유지 목적.
# 하나의 파일로 접근하므로 다른 접근 lock 걸 수 있다.
con.close()

In [ ]:
cur.execute(),
# 하나씩 줄을 수행
cur.executemany(),
# 여러개 줄을 실행
cur.executescript()
# 한번에 줄을 멀티 실행. rollback 하는 법 알아야함.

In [15]:
cur.execute('CREATE TABLE CITY(CNO INTEGER PRIMARY KEY, CNAME TEXT);')

### Client DBMS  DB
execute --> 해석 <-----> </br>      
    cur ---> None, [결과 여러개] : 커서의 위치 안내

In [16]:
cur.execute('SELECT * FROM CITY')

In [20]:
cur.execute('''INSERT INTO CITY(CNO, CNAME) VALUES(1,'성북구')''')

In [21]:
cur.execute('SELECT * FROM CITY')

In [22]:
cur.fetchall()

[(1, '성북구')]

In [23]:
cur.execute('''INSERT INTO CITY(CNO, CNAME) VALUES(NULL,'강북구')''')

In [24]:
cur.execute('SELECT * FROM CITY')

In [25]:
cur.fetchall()

[(1, '성북구'), (2, '강북구')]

In [26]:
# 즉, primary key 일 때, auto increment, unique, not null 등등 다 해준다.
# 하지만 다른 Column일 때, Not null 이외 다른 것 안넣으면 Error

In [27]:
cur.execute('''INSERT INTO CITY(CNAME) VALUES('성동구')''')
cur.execute('''INSERT INTO CITY VALUES(NULL, '동대문구')''')

In [28]:
cur.execute('SELECT * FROM CITY')
cur.fetchall()

[(1, '성북구'), (2, '강북구'), (3, '성동구'), (4, '동대문구')]

In [29]:
# PK 리턴하도록 하는 사이트는 보안적 문제.

In [31]:
cur.lastrowid

4

In [34]:
cityList = ['성북구', '강북구', '동대문구', '중구', '도봉구']
cur.execute('''SELECT CNO FROM CITY WHERE CNAME=?''', [cityList[0], ])
#quemark 스타일 -> param이 iterable한 형태로 와야 오류가 나지 않는다.

for cname in cityList:
    cur.execute('''SELECT CNO FROM CITY WHERE CNAME=?''', [cname,])
    
    if len(cur.fetchall()) == 0:
        cur.execute('''INSERT INTO CITY VALUES(NULL, :cname)''', {'cname':cityList[0]})
        print('new', cname, cur.lastrowid)
    else:
        print('already Have', cname, cur.lastrowid)

already Have 성북구 4
already Have 강북구 4
already Have 동대문구 4
new 중구 5
new 도봉구 6

In [35]:
len(cur.fetchall()), cur.fetchall()

(0, [])

In [40]:
con.close()

In [41]:
con = sqlite3.connect(':memory:')
cur = con.cursor()

In [42]:
cur.execute('CREATE TABLE CITY(CNO INTEGER PRIMARY KEY, CNAME TEXT);')

In [43]:

cur.execute('''INSERT INTO CITY(CNO, CNAME) VALUES(1,'성북구')''')
cur.execute('''INSERT INTO CITY(CNAME) VALUES('강북구')''')
cur.execute('''INSERT INTO CITY VALUES(NULL, '강동구')''')

In [44]:
cur.lastrowid

3

In [47]:
# qmark
# SQL(?), Python(iterable 객체)

cur.execute('''INSERT INTO CITY(CNAME) VALUES(?)''', ('동대문구',))

In [48]:
cur.lastrowid

4

In [49]:
# named style
# SQL(:key), Python(dict 객체)
cur.execute('''INSERT INTO CITY(CNAME) VALUES(:key)''', {'key':'중랑구'})

## 전체적으로 정리하자면, 파이썬에서 SQL 접근을 할 수 있는 방법은 아래와 같습니다.

In [56]:
con.close()

In [57]:
con = sqlite3.connect(':memory:')

In [58]:
cur = con.cursor()

In [59]:
cur.execute(
    '''
    CREATE TABLE CITY(
        CNO INTEGER PRIMARY KEY, CNAME TEXT
    )
    '''
)

In [66]:
cur.executemany('''
INSERT INTO CITY(CNAME) VALUES(?)
''', [('성북구1',),('성북구2',),('성북구3',),('성북구4',)])

In [ ]:
# execute ----> 
#

In [61]:
cur.execute('SELECT * FROM CITY')

In [62]:
cur.fetchall()

[(1, '성북구1'), (2, '성북구2'), (3, '성북구3'), (4, '성북구4')]

In [69]:
cur.executemany('''
INSERT INTO CITY(CNAME) VALUES(?)
''', ('성북구5',))
# ? -> qmark의 개수대로 바인딩하지 못하니 오류.

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 1, and there are 4 supplied.

In [70]:
cur.executescript('''
    INSERT INTO CITY(CNAME) VALUES('성북구5'); 
    INSERT INTO CITY(CNAME) VALUES('성북구6'); 
    INSERT INTO CITY(CNAME) VALUES('성북구7');
    INSERT INTO CITY(CNAME) VALUES('성북구8');
''')
# 테이블 여러개 만들때 사용 -> 프로시저 관심있게, DB 인젝션 방어 목적.

In [71]:
cur.execute('SELECT * FROM CITY')
cur.fetchall()

[(1, '성북구1'),
 (2, '성북구2'),
 (3, '성북구3'),
 (4, '성북구4'),
 (5, '성북구5'),
 (6, '성북구1'),
 (7, '성북구2'),
 (8, '성북구3'),
 (9, '성북구4'),
 (10, '성북구5'),
 (11, '성북구6'),
 (12, '성북구7'),
 (13, '성북구8')]

### SQL문 DBMS 활용하는 법 with PYTHON 객체
#### Python - (execute*) => DBMS -> DB
1. execute ; 단일 SQL 실행 (DBMS -> DB) ; Qmark, Named 파라미터 (Python) -> 단일 데이터에 대한 Attributes
2. executemany ; 단일 SQL 여러번 실행 -> 여러 데이터에 대한
3. executescript ; 비표준, 여러 SQL 실행; Statement의 끝에는 항상 semicolon(;)으로!

### SQL문을 해석한 결과를 DBMS에서 가져오는 법
#### Python - (execute*) => DBMS -> DB
####                       (데이터)
#### (저장)     (fetch*)  <= 가져오는 과정

fetchone -> 1개 </br>
fetchmany -> N개 </br>
fetchall -> 전체 데이터 </br>
</br>
-> 더이상 데이터가 없을 때까지 fetch

In [72]:
cur.execute('SELECT * FROM CITY')

In [73]:
cur.fetchone()

(1, '성북구1')

In [74]:
cur.fetchmany(3)

[(2, '성북구2'), (3, '성북구3'), (4, '성북구4')]

In [75]:
cur.fetchall()

[(5, '성북구5'),
 (6, '성북구1'),
 (7, '성북구2'),
 (8, '성북구3'),
 (9, '성북구4'),
 (10, '성북구5'),
 (11, '성북구6'),
 (12, '성북구7'),
 (13, '성북구8')]

In [76]:
con.close()

In [77]:
con = sqlite3.connect('fnb.db')

In [78]:
cur = con.cursor()

In [103]:
con.close()

In [80]:
!ls

 file.ipynb      fnb.db           june_twsev.ipynb june_twsix.ipynb

In [104]:
con = sqlite3.connect('fnb.db')

In [105]:
cur = con.cursor()

In [83]:
cur.executescript('''

CREATE TABLE CITY(
    CNO INTEGER PRIMARY KEY,
    CNAME KEY
);

CREATE TABLE SUPPLIER(
    SNO INTEGER PRIMARY KEY,
    SNAME TEXT,
    CNO INTEGER NOT NULL
);

CREATE TABLE PART(
    PNO INTEGER PRIMARY KEY,
    PMAKE TEXT
);

CREATE TABLE SELLS(
    SNO INTEGER,
    PNO INTEGER,
    PRICE INTEGER
);

''')

In [95]:
cur.execute('INSERT INTO CITY(CNAME) VALUES("양천구")')

In [92]:
cur.lastrowid

1

In [93]:
cur.execute('SELECT * FROM CITY')
cur.fetchall()

[(1, '성북구')]

In [89]:
con.close()

In [90]:
con = sqlite3.connect('fnb.db')
cur = con.cursor()

In [96]:
#  DB는 하나하나의 데이터를 넣는 것이 아니라 묶음 단위인 Transaction으로 진행하기 때문에.
# commit 하지 않고 닫는다면 connection을 잃어버려서 저장되지 않을 수 있음.
# rollback 해야하는 경우.
con.commit()

In [106]:
cityList = [('성북구',),('강북구',),('강동구',),('동대문구',)]

# 중복 검사 구문 (데이터가 많을 때는 이 방법이 좋지 않음.)
for city in cityList:
    cur.execute('SELECT * FROM CITY WHERE CNAME=?', city)
    if len(cur.fetchall()) == 0:
        cur.execute('INSERT INTO CITY(CNAME) VALUES(?)', city)

In [107]:
cur.execute('SELECT * FROM CITY')
cur.fetchall()

[(1, '성북구'), (2, '양천구'), (3, '강북구'), (4, '강동구'), (5, '동대문구')]

In [108]:
con.commit()

In [111]:
suplierList = [('1호점', 1), ('2호점', 2), ('3호점', 3), ('4호점', 4)]
cur.executemany('INSERT INTO SUPPLIER(SNAME, CNO) VALUES(?,?)', suplierList)

In [112]:
con.commit()

In [113]:
cur.execute('SELECT * FROM SUPPLIER')
cur.fetchall()

[(1, '1호점', 1), (2, '2호점', 2), (3, '3호점', 3), (4, '4호점', 4)]